* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #D2D2D2;
  font-size: 10px;
  height: 100%;
  /* -webkit-print-color-adjust: exact; */
}


body {
  background-color: #273375;
  border-left: 1em solid #273375;
  border-right: 1em solid #CF202C;
  font-family: 'Quicksand', sans-serif;
  left: 1em;
  margin: 0 auto;
  min-width: 36em;
  position: absolute;
  right: 1em;
  top: 0;
}

.main-wrapper {
  background-color: #FFFFFF;
  box-shadow: .2em .5em 1em #000000;
}


.content-wrapper,
 nav ul {
  margin: auto;
  max-width: 1176px;
  min-width: 340px;
  text-align: center;
}

/* Begin: Main Header */

/* Begin: Naviation Menu */

.nav-wrapper {
  background-color: #FFFFFF;
  /* background: #FFFFFF url(/assets/img/androsaxon-logo-simple.png) .5em .5em/5em no-repeat; */
  border-bottom: 1px solid;
  height: 4.5em;
  left: 2em;
  position: fixed;
  right: 2em;
  top: 0;
  z-index: 10;
}


.main-nav ul {
  overflow: hidden;
}

.main-nav li {
  border-right: .1em solid #273375;
  display: inline-block;
  list-style-type: none;
  margin-top: .5em;
}

.main-nav li:last-of-type {
  border-right: none;
}

.main-nav li:hover {
  border-bottom: .4em solid #CF202C;
}

.main-nav a {
  color: #232323;
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.5em;
  padding: .5em .5em;
  text-decoration: none;
}


/* End: Naviation Menu */


/* End: Main Header */

main {
  color: #828282;
  color: #232323;
}

main .intro {
  background-color: #E9E9E9;
  margin-bottom: 3em;
  padding: 8.5em 0 4em;
}

main .intro img {
  display: block;
  margin: auto;
  max-width: 600px;
  width: 100%;
}

main .section {
  border-bottom: 1px dashed;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5em;
  line-height: 1.7em;
  margin-bottom: 3em;
  margin-top: 1em;
  padding: .5em 4% 3em;
}


main .section:last-of-type {
  border-bottom: none;
}

main .section p {
  margin-bottom: 1em;
  margin-top: 1em;
}

h2 {
  color: #CF202C;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7em;
  margin-bottom: 1em;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}

.domain-list {
  list-style-type: none;
}

.domain-list li {
  font-size: 1em;
  margin-bottom: 4em;
  margin-top: 4em;
  word-spacing: .1em;
}

.domain-list li img {
  width: 20%;
}

.contact-form {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  margin: auto;
  text-align: left;
  width: 90%;
}

.contact-form .label {
  display: block;
  font-size: 1.1em;
  margin-bottom: .3em;
}

.contact-form input[type="text"],
.contact-form textarea {
  border: 1.3px dashed #000000;
  border-radius: .5em;
  display: inline-block;
  padding: 5px;
  width: 100%;
}

.contact-form textarea {
  height: 5em;
  max-width: 100%;
  resize: vertical;
}

.contact-form input[type="text"]:focus,
.contact-form textarea:focus {
  border: 2px solid #273375;
  border-radius: 0;
}


.contact-form input[type="submit"] {
  background-color: #273375;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
}

.contact-form input[type="submit"]:hover {
  box-shadow: .1em .1em 1em #A5A5A5;
  cursor: pointer;
  transform: translate(2px, 2px);
}

.main-footer {
  background: url('/assets/img/androsaxon-logo-white.png') no-repeat left center;
  /* background-size: 300px auto; */
  clear: both;
  color: #FFFFFF;
  height: 30em;
}

.copyright {
  font-size: 1em;
}

.hidden {
  display: none;
}
