* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #D2D2D2;
  font-size: 10px;
  /*base size*/
  height: 100%;
  /* -webkit-print-color-adjust: exact; */
}


body {
  background-color: #273375;
  border-right: 10px solid #CF202C;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  min-width: 400px;
  padding: 0 0 10px 10px;
  width: 98%;
}


.main-wrapper {
  background-color: #FFFFFF;
  box-shadow: 2px 5px 10px #000000;
}



/* Beigin: Main Header */

.main-header {
  border-bottom: 1px solid;
  height: 40px;
  padding: 20px 15px 5px;
}

.logo {
  float: left;
  width: 250px;
}

/* Begin: Naviation Menu */
.main-nav {
  /* float: right; */
  margin: auto;
  margin-right: 10px;
  text-align: center;
}


.main-nav ul {
  overflow: hidden;
}


.main-nav li {
  border-right: 1px solid #273375;
  display: inline-block;
  /* float: left; */
  list-style-type: none;
}

.main-nav li:last-of-type {
  border-right: none;
}

.main-nav li:hover {
  border-bottom: 4px solid #CF202C;
}

.main-nav a {
  color: #232323;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.9em;
  padding: 0 5px;
  text-decoration: none;
}
/* End: Naviation Menu */


/* End: Main Header */

main {
  color: #828282;
  color: #232323;
  margin: auto;
}

main .intro {
  background-color: #D2D2D2;
  /* background: linear-gradient(to right, #D2D2D2, #FFFFFF); */
  font-size: 1.6em;
  margin-bottom: 20px;
  padding: 40px 0;
}

main .intro img {
  display: block;
  margin: auto;
  width: 500px;
}

main .section {
  border-bottom: 1px dashed;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.6em;
  margin-bottom: 20px;
  min-height: 400px;
  padding: 20px;
}


main .section:last-of-type {
  border-bottom: none;
}


.content-wrapper {
  line-height: 1.7em;
  margin: auto;
  max-width: 864px;
  text-align: center;
  width: 85%;
  word-spacing: .15em;
}


.content-wrapper p {
  margin-bottom: 30px;
  margin-top: 10px;
}

h2 {
  color: #CF202C;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7em;
  padding-bottom: 15px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  margin-top: 30px;
}

.domain-list {
  list-style-type: none;
  margin-top: 50px;
}

.domain-list li{
  display: inline-block;
  line-height: 1.3em;
  margin: 10px 2px 50px 0;
  padding: 5px;
  vertical-align: top;
  width: 270px;
}

.domain-list li img {
  display: block;
  margin: auto;
  width: 200px;
}

.contact-form {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  margin: 10px auto;
  text-align: left;
  width: 50%;
}

.contact-form .label {
  display:inline-block;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
  width: 75px;
}

.contact-form input[type="text"], .contact-form textarea {
  border: 1.3px dashed #273375;
  border-radius: 5px;
  padding: 5px;
  width: 260px;
}

.contact-form input[type="text"]:focus, .contact-form textarea:focus  {
  border-style: solid;

}


.contact-form input[type="submit"] {
  background-color: #273375;
  border:none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  float: right;
  padding: 10px 15px;
}

.contact-form input[type="submit"]:hover {
  box-shadow: 0 0 10px #000000;
  margin-right: 2px;
  margin-top: 2px;
  cursor: pointer;

}

.main-footer {
  /* margin-right: -7px; */
  background: url('/assets/img/androsaxon-logo-white.png') no-repeat left center;
  background-size: 300px auto;
  clear: both;
  color: #FFFFFF;
  height: 300px;
  /* margin-left: -20px; */
  padding: 50px 5px 0 300px;
}

.copyright {
  font-size: 1em;
  text-align: center;
  width: 200px;
}

.hidden {
  display: none;
}
